name: CI

on:
  pull_request:
  push:
    branches:
      - master
      - feature/biome

permissions:
  contents: read

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        node:
          - '22'
          - '24'
          - '25'
        platform:
          - macos-latest
          - ubuntu-latest
    name: 'Node.js ${{matrix.node}} / ${{matrix.platform}}'
    runs-on: ${{matrix.platform}}

    steps:
      - name: Configure Git
        run: |
          git config --global core.autocrlf false
          git config --global user.name "Carlo Dapor (bot)"
          git config --global user.email "catull@gmail.com"

      - name: Checkout Commit
        uses: actions/checkout@v4

      - name: Install pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: ${{matrix.node}}
          cache: 'pnpm'

      - name: Install pnpm
        run: npm add --global pnpm

      - name: Run pnpm install
        run: pnpm install

      - name: Run pnpm outdated
        run: pnpm outdated

      - name: Run pnpm audit
        run: pnpm audit

      - name: Run pre prebuild
        run: pnpm run prebuild

      - name: Run lint on sources and tests
        run: pnpm run lint

      - name: Run pre build check
        run: pnpm run "build:check"

      - name: Run build
        run: pnpm run build
        env:
          NODE_OPTIONS: '--max-old-space-size=8192'

      - name: Run prod test suites
        run: pnpm run "test:prod"

      - name: Generate dist/package.json
        run: pnpm run "dist:package.json"

      - name: Run format dist sources
        run: pnpm run "format:dist"
